body {
    background-color: #d0e4fe;
    font-family: "Ubuntu";
    text-align: center;
}

h1 {
    color: #096cc7;
    text-align: center;
}

h2 {  text-align: center;  }

div { display: inline-block }